<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">

  <link rel="manifest" href="manifest.json">
  <link rel="shortcut icon" href="icon.png" type="image/x-icon">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <title>FoodTopia</title>
</head>

<body>
  <a href="#" id="skipContentButton" tabindex="0">Skip to Content</a>

  <header class="app-bar">

    <div class="app-bar__left">
      <h1 class="app-bar__logo">FoodTopia</h1>
      <button id="hamburgerButton">☰</button>
    </div>

    <nav class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/hilmi-almuhtade-4671a51b8/">Profile</a></li>
      </ul>
    </nav>
    
  </header>

  <main id="mainContent" tabindex="0">

  </main>
  
</body>

</html>